<md-toolbar>
  <div class="md-toolbar-tools">
    <p><strong>ngClassifieds</strong></p>

    <md-button data-ng-click="vm.openSideNav()">
      <md-icon class='mdi mdi-plus-circle'></md-icon>
      New Classified
    </md-button>

    <md-button data-ng-click="showFilters = true">
      <md-icon class='mdi mdi-magnify'></md-icon>
      Filters
    </md-button>
  </div>
</md-toolbar>

<!--Filters Area-->
<div class="filters" layout="row" layout-align="center center" data-ng-show="showFilters">
  <md-input-container>
    <label>Enter Search Term</label>
    <input type="text" data-ng-model="classifiedsFilter">
  </md-input-container>

  <md-input-container>
    <label>Category</label>
    <md-select data-ng-model="category">
      <md-option data-ng-repeat="category in vm.categories" value={{category}}>
        {{category}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container>
    <md-button class="md-warn" data-ng-click="classifiedsFilter = ''; category = ''">Clear</md-button>
  </md-input-container>

  <div data-ng-repeat='classified in vm.classifieds'>
    <div data-ng-repeat='item in classified'> 
      {{item.title}}
    </div>
  </div>
</div>

<ui-view></ui-view>


<md-content>
  <classified-card
  classifieds-filter='classifiedsFilter',
  category='category',
  classifieds='vm.classifieds' 
  class="md-padding" 
  layout="row" 
  layout-wrap data-ng-cloak>
  </classified-card>
</md-content> 